<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box"
       [ngClass]="{
       statusThreeDay: dateComparison(dateNow, task.date, 'threeDay'),
        statusEndDay:dateComparison(dateNow, task.date)}"
       *ngFor="let task of tasks; let i = index" cdkDrag
       (click)="openDescription(task.id)">
    <mat-icon class="iconClose" (click)="closeTask(task.id)">
      done
    </mat-icon>
    <mat-icon id="create" class="iconClose" (click)="openDialog(task)">
      create
    </mat-icon>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    <b>{{task.title}}</b> Date of completion: {{task.date}}
    <div class="description" *ngIf="task.open">{{task.description}}</div>
  </div>
</div>
