<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let task of tasks; let i = index" cdkDrag
       (click)="openDescription(task.id)">
    <mat-icon class="iconClose" (click)="closeTask(task.id)">
      done
    </mat-icon>
    <mat-icon id="create" class="iconClose" (click)="openDialog(task)">
      create
    </mat-icon>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    {{task.title}} Date: {{task.date}}
    <div class="description" *ngIf="task.open">{{task.description}}</div>
  </div>
</div>
